<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>TuristANDO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/public/css/provincia1.css">
        <link rel="stylesheet" href="../../css/header.css"  type="text/css"/>
        <link rel="stylesheet" href="../../css/footer.css"  type="text/css"/>
</head>
<body>

            
              <!--ACA VA UN EL LOGO)DIS.GRAFICO= P/ Q COLOQUEN PROV. -->
    <div class="top-header">
        <header>
            <%- include('../partials/header'); %>
          </header>
        <div class="form" action="#" method="GET">
            <div class="input">A que provincia vas?</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        


            <!--listado de provincias-->

            <h3>Elegí tu destino</h3>
            <nav>
                <ul>
                    <li><a href="#">Ciudad Autónoma de Buenos Aires</a></li>
                    <li><a href="#"> Buenos Aires</a></li>
                    <li><a href="#">Córdoba</a></li>
                    <li><a href="#">Mendoza</a></li>
                    <li><a href="#">Salta</a></li>
                    <li><a href="#">San Luis</a></li>
                    <li><a href="#">Tucuman</a></li>
                    <li><a href="#">Misiones</a></li>
                    <!--ACA VA mas y desplegar flecha y q aparezcan todas las q faltan   -->
                </ul>
            </nav>

              <!--ACA VA UN CARRUSEL DE IMG  -->
            <section class="banner">
                <img src="" alt="carrusel de img">
            </section>

            <h3>Let´s Go!</h3>

         
<main>
    <section>

                    <article>
                        <img src="uvas.jpg" alt="uvas" class="">
                        <div class="main-article">
                            <h4>aca va una foto</h4>
                          <h4 class="description"><a href="#">Bodegas y viñedos </a></h4>
                        </div>
                    </article>
                </div>

    
                <article>
                    <img src="" alt="" class="">
                 <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"> <a href="#">Tours a pie</a></h4>
                    </div>
                </article>

                <article>
                    <img src="" alt="" class="">
                    <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"><a href="#">Nigthlife</a></h4>
                    </div>
                </article>


                <article>
                    <img src="" alt="" class="">
                    <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"><a href="#">Restaurantes</a></h4>
                    </div>
                </article>


     </section>
     <footer>
        <%- include('../partials/footer'); %>
    </footer>
</main> 







    
</body>
</html>