<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <title>Registro</title>
</head>
<body>
    <header>
        <div>
            <h1> AQUÍ VA EL HEADER</h1>
        </div>
    </header>

    <section class="registro-completo">
       
        <div class="registro-cuadro">
            <div class="registro-superior">
                
                <h2>REGISTRATE</h2>
            </div>
            <div class="registro">
                <form action="register.html" method="POST">
                <div class="nombreUsuario">
                     <label for="nombre"> <i><fas fa-user-alt></fas>Nombre completo:</i> </label>
                     <input type="text" name="Usuario" id="nombre" placeholder="Ingrese aquí su nombre completo">
                </div>
                <div class="apellidoUsuario">
                    <label for="apellido"> <i><fas fa-user-alt></fas>Apellido:</i> </label>
                    <input type="text" name="Usuario" id="apellido" placeholder="Ingrese aquí su apellido">
               </div>
               <div class="usuario">
                <label for="usuario"><i class="fas fa-user"> Usuario:</i> </label>
                <input type="text" name="Usuario" id="usuario" placeholder="Ingrese aquí su Nombre de Usuario">
               </div>
                <div class="contraseñaUsuario">
                     <label for="clave"> <i class="fas fa-key"></i> Contraseña:</label>
                     <input type="password" name="clave" id="clave" placeholder=" Ingrese aquí su Contraseña">
                </div>
                <div class="ingresar">
                    <button type="submit"> Registrarse </button>
                </div>
                </form>
            </div>
            
        </div>
    </section>

    <footer>
        <div>
            <h1>AQUI VA EL FOOTER</h1>
        </div>
    </footer>
    
</body>
</html>