* {
	box-sizing: border-box;
	
  }

  /* MAPA */

.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: 40px;
	padding: 3px;
  pointer-events:none;
}
.jqvmap-pin {
  pointer-events:none;
}

.jqvmap-region
{
  cursor: pointer;
}

#vmap{
	position: relative;
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	justify-content:center;
	margin: auto;
			
}

.map{
	position: relative;
	max-width: 1400px;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 30px;
	justify-content:center;
	margin: auto;
	margin-bottom: 30px;
			
}
 /* FIN MAPA */

body {
	font: 22px sans-serif;
	background-image: url("/images/banner3.png");
	background-attachment: fixed;
	
	width: 100%;
	margin: auto
			
  }

a {
	color: inherit;
	
  }

h2 {
	font-size: 50px;

}
.container {
    max-width: 1400px;
	margin:  auto;
	font-size: 40px;
	color: whitesmoke
}
.container .header-right {
	font-size: 40px;
}

.container .header-center{
	
	display: flex;
    flex-wrap: wrap;
	padding: 5px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.9);
	opacity: 0.7;
	z-index: -1;
	
	
}
header .container {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

header a { 
    display: inline-block;
    padding: .5rem;
    margin: .5rem;
}


header .header-right .header-left 
{ display: flex; }

ul {
	list-style: none;
  }

  
.menu{
	display: flex;
	opacity: 0.9;
	z-index: 1;
	padding: 1rem;
	align-items: center;
	max-width: 1400px;
	margin: auto;
	justify-content: center;
	margin-top: -95px;

	
	
}


.menu a{
	text-align: center;
	padding: 3px;
	justify-content:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	align-items: center;
	justify-content: center;
}


   
main {
	max-width: 1400px;
	margin:  auto;
	font-size: 40px;
	color: whitesmoke;
	justify-content:center;
	align-items: center;
	
	
}   
  

.box{
	flex-wrap: wrap;
	display: flex;
	max-width: 1400px;
	justify-content: center;
	position: relative;
	align-items: center;
	color: white;
	font-family: verdana;
	max-width: 1400px;
	margin:  auto;
	color: whitesmoke;
	justify-content: space-around;
	margin-bottom: 20px;
	
	
	
}


 
  .container-1{
	max-width: 1400px;
	margin:  auto;
	z-index: 2;
	position: relative;
	margin: 50px;
	
		
  }
  .container-1 input#search{
	width: 500px;
	height: 60px;
	background: #2b303b;
	border-radius: 10px;
 
	font-size: 15pt;
	color: #63717f;
	padding-left: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	   
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
  }
  .container-1 input#search::-webkit-input-placeholder {
	color: #65737e;
 }
  
   
 .container-1 input#search::-moz-placeholder {  
	color: #2e4a5f;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
	color: #65737e;  
 }
 .container-1 .icon{
	position: absolute;
	font-size: 40px;
	margin-left: 8px;
	margin-top: 9px;
	z-index: 1;
	color: #da595e;
  }
  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  
 
  
.footer {
	
	flex-wrap: wrap;
	display: flex;
	max-width: 1400px;
	justify-content: center;
	position: relative;
	align-items: center;
	color: white;
	font-family: verdana;
	max-width: 1400px;
	margin:  auto;
	color: whitesmoke;
	justify-content: space-between;
	margin-bottom: 20px;
	

	
	
	
  }
  
.footer li {

	justify-content: space-between;
	display: inline-block;
  }
  
.footer a {
	position: relative;
	justify-content: center;
	padding: 10px;
  }
  
.footer .border {
	position: absolute;
	left: 0;
	background: currentColor;
	transition: transform var(--transition-duration) ease-in-out;
  }
  
 .footer .border-top,
 .footer .border-bottom {
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	
  }
  
  
.footer .border-top,
.footer    {
	top: 0;
 }
  
.footer .border-bottom {
	bottom: 0;
	transform-origin: bottom right;
  }
  
  .footer .border-top {
	transform-origin: top left;
  }
  
  
  .footer a:hover .border-top,
  .footer a:hover .border-bottom {
	transform: scaleX(1);
  }


